@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.group:hover div:not(:hover) {
    opacity: 0.6;
    transform: scale(0.98);
}

.group:hover div:hover {
    opacity: 1;
    transform: scale(1);
    border-left: 5px solid #0f7dc2;
}